/* adminQuestionMaker.css */
.qnm-admin-question-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--card-background-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px var(--shadow-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.qnm-admin-question-container h2 {
  text-align: center;
  color: var(--text-color);
  margin-bottom: 20px;
}

.qnm-question-block {
  background-color: var(--card-background-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--shadow-color);
}

.qnm-form-group {
  margin-bottom: 15px;
}

.qnm-form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--text-secondary-color);
}

.qnm-form-group textarea,
.qnm-form-group input[type="text"],
.qnm-form-group select {
  width: 100%;
  padding: 10px;
  background-color: var(--card-background-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 10px;
}

.qnm-form-group textarea {
  resize: vertical;
  min-height: 100px;
}

.qnm-form-group input[type="file"] {
  padding: 5px;
}

.qnm-uploaded-image {
  display: block;
  margin-top: 10px;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.qnm-playlist-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  color: var(--text-secondary-color);
}

.qnm-playlist-card {
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  flex: 1 1 calc(25% - 20px);
  max-width: calc(25% - 20px);
  transition: background-color 0.3s ease, border-color 0.3s ease;
  background-color: var(--card-background-color);
}

.qnm-playlist-card.selected {
  background-color: var(--primary-color);
  color: white;
  border-color: var(--primary-color);
}

.qnm-playlist-card:hover {
  background-color: var(--card-hover-background);
}

.qnm-playlist-card.selected:hover {
  background-color: var(--primary-hover-color);
}

.qnm-action-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.qnm-add-question-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  background-color: var(--success-color);
  color: #fff;
  transition: background-color 0.3s ease;
}

.qnm-add-question-btn:hover {
  background-color: var(--primary-hover-color);
}

.qnm-submit-sections {
  margin-top: 0px;
  display: flex;
  justify-content: flex-end;
}

.qnm-submit-btnn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  background-color: var(--primary-color);
  color: #fff;
  transition: background-color 0.3s ease;
}

.qnm-submit-btnn:hover {
  background-color: var(--primary-hover-color);
}
