

.dashboard {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f5f5f5;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 20px;
}



.stats {
  display: flex;
  gap: 20px;
  margin-top: 80px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.stat-card {
  flex:1 1 200px;
  width: 250px;
  height: 100px;
  background: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  transform: translateY(0);
}
.stat-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
}

.stat-card span {
  font-size: 24px;
  font-weight: bold;
}


.chart {
  display: flex;
  flex: 1 1 45%;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  height: 200px;
  width: 100%; 
}
.progress-chart-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}
.calender-wrapper {
  position: relative;
  padding: 5px;
}

.calendar-container {
  display: flex;
  overflow-x: auto;
  /* flex-wrap: wrap; */
  gap: 20px;
  margin-top: 50px;
  /* position: relative; */
}
.calendar-filter {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color:white;
  color:#888;
  padding: 5px 12px;
  font-size: 14px;
  font-weight: bold;
  border:1px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10; /* Ensures it stays above other elements */
}
.filter-icon {
  vertical-align: middle;
  color: #000;
}
.calendar-filter select {
  background-color: transparent;
  color:#888;
  border: none;
  font-size: 14px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
}
.calendar-filter select option {
  background-color:white;
  color: #888;
}
.calendar {
  width: 250px;
  text-align: center;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.calendar-box {
  width: 20px;
  height: 20px;
  background-color: #dedede;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
}

.calendar-box.completed-pod {
  background-color: #4caf50;
}

.tooltip {
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  background: black;
  color: white;
  padding: 5px;
  border-radius: 3px;
  font-size: 12px;
  white-space: nowrap;
}


@media (max-width: 400px) {
  .stats {
    flex-direction: column; /* Stack stats cards vertically */
    align-items: center;
  }
  .stat-card {
    width: 100%; /* Cards take full width on small screens */
    max-width: 350px; /* Limit max-width for readability */
  }
  .chart {
    height:150px;
    width: 100%;
  }
}
